<template lang="pug">
  div
</template>

<script>
export default {
  name: 'Action',
  created () {
    console.log(this.$route.params.token)
    this.$store.dispatch('consumeToken', this.$route.params.token)
  }
}
</script>
