<template lang="pug">
  .profile__wrapper
    header.header__menu
      b-navbar.nav_inside(toggleable="xl", fixed="top")
        b-navbar-toggle(target="nav_collapse")
        b-navbar-brand(to="/cabinet/dashboard") XCHANGE.zone BackOffice
        b-collapse#nav_collapse.justify-content-between(is-nav="")
          b-navbar-nav.d-flex.justify-content-center.w-100
            b-nav-item(to="/admin/exchanges") Заявки на обмен
            b-nav-item(to="/admin/users") Пользователи
            b-nav-item-dropdown(text="Настройки", left)
              b-dropdown-item(to="/admin/currencies") Валюты
              b-dropdown-item(to="/admin/paymentsystems") Платежные системы
              b-dropdown-item(to="/admin/fees") Комиссии
          b-navbar-nav.navbar-right.align-items-center.nav-bar-no-margin
            b-nav-item(to="/cabinet/settings")
              img(src='/static/img/icon_q_3.png', alt='icon')
            b-nav-item(to='/', @click="signOut()") Выйти
    router-view
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Admin',
  computed: mapGetters({
    authData: 'authData'
  }),
  methods: {...mapActions(['signOut'])}
}
</script>
