<template lang="pug">
  .room__wrapper
    section.room
      .room__arrow
        router-link(:to="($route.path === '/auth/signin') ? '/': '/auth/signin'")
          i.fa.fa-long-arrow-left(aria-hidden='true')
      .room_box
        .container.no-position
          .row.justify-content-center
            .col-md-6.col-xs-12.no-position
              .room__wrapper_content
                router-view
    .room__wrapper_link_box
      .container
        .row.justify-content-center
          .col-md-6.col-xs-12.no-position
            template(v-if="$route.path === '/auth/signin'")
              router-link(:to="'/auth/signup'").room__wrapper_link Перейти к регистрации
            template(v-if="$route.path === '/auth/signup'")
              router-link(:to="'/auth/signin'").room__wrapper_link Войти в личный кабинет
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>
