<template lang="pug">
  .profile__wrapper
    header.header__menu
      b-navbar.nav_inside(toggleable="xl", fixed="top")
        b-navbar-toggle(target="nav_collapse")
        b-navbar-brand(to="/") XCHANGE.zone
        b-collapse#nav_collapse.justify-content-between(is-nav="")
          b-navbar-nav.d-flex.justify-content-center.w-100
            b-nav-item(to="/cabinet/dashboard") Главная
            b-nav-item(to="/cabinet/exchanges") История
            b-nav-item(to="/cabinet/settings") Настройки
            b-nav-item(v-if="userData.profile.is_manager", to="/admin") BackOffice
          b-navbar-nav.navbar-right.align-items-center.nav-bar-no-margin
            b-nav-item(to="/cabinet/settings")
              img(src='/static/img/icon_q_3.png', alt='icon')
            b-nav-item(to='/', @click="signOut()") Выйти
    router-view
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Cabinet',
  computed: mapGetters({
    userData: 'userData'
  }),
  methods: {
    ...mapActions(['signOut'])
  }
}
</script>
