<template lang="pug">
  .room__wrapper.room_check
    section.room
      .room_box
        .container.no-position
          .row
            .col-md-12.no-position
              .room__wrapper_content.room__wrapper_content_check
                .check_img
                  img(src='/static/img/_—(.png', alt='check')
                h3.room__wrapper_caption.text-center
                  | Что-то пошло не так!
                .room__wrapper_form_message.text-center
                  p
                    | Мы работаем над исправлением ошибки
                router-link(:to="'/cabinet'").form_button.color_green Войти в личный кабинет
                .room__wrapper_form_message.text-center
                  router-link(:to="'/'") Вернуться на главную страницу
    .room__wrapper__bg
</template>

<script>
export default {
  name: 'ErrorPage'
}
</script>
