<template lang="pug">
  .room__wrapper(v-bind:class="{ room_claim: $route.path === '/exchange/confirm', room_check: $route.path === '/exchange/created'}")
    .room_aside(v-if="$route.path === '/exchange/confirm'")
      .room_aside_info
        p.room_aside_info_text Я отдаю
        p.room_aside_info_summ
          span {{ exchangeStatus.incoming.amount }}
          span {{ exchangeStatus.incoming.currency.code }}
        p.room_aside_info_text Получаю
        p.room_aside_info_summ
          span {{ exchangeStatus.outgoing.amount }}
          span {{ exchangeStatus.outgoing.currency.code }}
      .header-service
        i.fa.fa-btc(aria-hidden='true')
        h3
          | XCHANGE
          span .zone
        p
          | Сервис BUYGAZPROM.com дает
          | возможность быстрого,
          | безопасного и простого обмена
          | электронных валют и вывода денег
          | на банковские карты. Мы
          | поддерживаем для Вас актуальные
          | и вкусные курсы.
    section.room
      .room__arrow(v-if="$route.path === '/exchange/confirm'")
        a
          i.fa.fa-long-arrow-left
      router-view
    .room__wrapper__bg(v-if="$route.path === '/exchange/created'")
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Exchange',
  computed: mapGetters({
    exchangeStatus: 'exchangeStatus'
  })
}
</script>
