<template lang="pug">
  div.h-100
    header#header.header
      main-block
      nav-bar-landing
    fees
    how-to
    advantages
</template>

<script>
import NavBarLanding from '@/components/NavBarLanding'
import Fees from '@/components/Fees'
import HowTo from '@/components/HowTo'
import Advantages from '@/components/Advantages'
import MainBlock from '@/components/MainBlock'

export default {
  components: { NavBarLanding, Fees, HowTo, Advantages, MainBlock },
  created () {
    this.$store.dispatch('getPaymentSystems')
  }
}
</script>
