<template lang="pug">
  .profile__content
    .container-fluid
      .dashboard__row(v-if="allUsers")
        .row
          .col-md-12
            h3 Все пользователи
            a.filter_table.remark_t(href='#', role='button') Фильтр
        .row
          .col-md-12
            .profile__table
              .table-responsive
                users-table(:items="allUsers")
              ul.operation_pagination.pagination
                li(v-show="currentPage !== 1")
                  a.link_go(@click="getUsersPage((currentPage - 1))") Предыдущая страница
                template(v-for="page in usersPages")
                  li(v-bind:class="{'disabled': (currentPage === page)}")
                    a.link_go(@click="getUsersPage(page)") {{ page}}
                li(v-show="currentPage !== usersPages")
                  a.link_go(@click="getUsersPage((currentPage + 1))") Следующая страница
      div(v-else) Нет пользователей
</template>

<script>
import { mapGetters } from 'vuex'
import UsersTable from '@/components/tables/UsersTable'

export default {
  name: 'AdminUsers',
  components: { UsersTable },
  methods: {
    getUsersPage (page) {
      if (this.currentPage < page) {
        this.usersOffset += this.userLimit
      } else if (this.currentPage > page) {
        this.usersOffset -= this.userLimit
      }
      if ((this.usersOffset >= 0) && (this.usersOffset < this.systemState.users.paging.total)) {
        this.currentPage = page
        this.$store.dispatch('getUsers', { limit: this.userLimit, offset: this.usersOffset })
      }
    }
  },
  created () {
    this.$store.dispatch('getUsers', { limit: 25 })
  },
  computed: {
    ...mapGetters({ systemState: 'systemState' }),
    allUsers: {
      get () {
        return this.systemState.users ? this.systemState.users.data : []
      }
    },
    usersPages: {
      get () {
        let totalUsers = this.systemState.users.paging.total / this.userLimit
        return Math.ceil(totalUsers)
      }
    }
  },
  data () {
    return {
      userLimit: 25,
      usersOffset: 0,
      currentPage: 1
    }
  }
}
</script>
