<template lang="pug">
  .profile__content
    .container-fluid
      .dashboard__row
        currencies-table
      .dashboard__row
      .dashboard__row
        currency-pairs-table
</template>

<script>
import CurrenciesTable from '@/components/tables/CurrenciesTable'
import CurrencyPairsTable from '@/components/tables/CurrencyPairsTable'

export default {
  name: 'AdminCurrencies',
  components: { CurrenciesTable, CurrencyPairsTable }
}
</script>
