<template lang="pug">
  .profile__content
    .container-fluid
      .dashboard__row
        .row
          .col-md-12
            .profile__table
              .table-responsive
                payment-systems-table(:items="systemState.paymentSystems")
    base-modal(:form="modalForm")
</template>

<script>
import PaymentSystemsTable from '@/components/tables/PaymentSystemsTable'
import BaseModal from '@/components/modals/BaseModal'
import { mapGetters } from 'vuex'

export default {
  name: 'AdminPaymentSystems',
  components: { PaymentSystemsTable, BaseModal },
  created () {
    this.$store.dispatch('getAdminPaymentSystems')
  },
  computed: {
    ...mapGetters({
      systemState: 'systemState'
    })
  },
  data () {
    return {
      modalForm: { name: 'PaymentSystemForm' }
    }
  }
}
</script>
