<template lang="pug">
  .profile__content
    .container-fluid
      .dashboard__row
        .row
          .col-md-12
            h3 Все комиссии
            b-button.filter_table.remark_t(variant='link', @click="addFee()") Добавить
        .row
          .col-md-12
            .profile__table
              .table-responsive
                fees-table(:items="systemState.fees")
    base-modal(:form="modalForm")
</template>

<script>
import FeesTable from '@/components/tables/FeesTable'
import { mapGetters } from 'vuex'
import BaseModal from '@/components/modals/BaseModal'

export default {
  name: 'AdminFees',
  components: { FeesTable, BaseModal },
  created () {
    this.$store.dispatch('getFees')
  },
  methods: {
    addFee () {
      this.$root.$emit('bv::show::modal', 'modalBase')
    }
  },
  computed: {
    ...mapGetters({
      systemState: 'systemState'
    })
  },
  data () {
    return {
      modalForm: { name: 'FeeForm' }
    }
  }
}
</script>
