<template lang="pug">
  .profile__content
    .container-fluid
      .dashboard__row()
        .row
          .col-md-12
            h3 Свежие курсы обмена валют
            b-button.filter_table.remark_t(to="/admin/currencies", variant='link') Редактировать
        .row
          .col-md-12
            .profile__table
              .table-responsive
                currency-pairs-table(:items="systemState.currencyPairs")
      .dashboard__row()
        .row
          .col-md-12
            h3 Последние заявки
            b-button.filter_table.remark_t(to="/admin/exchanges", variant='link') Все заявки
        .row
          .col-md-12
            .profile__table
              .table-responsive
                transactions-table(:trItems="lastTransactions")
</template>

<script>
import { mapGetters } from 'vuex'

import CurrencyPairsTable from '@/components/tables/CurrencyPairsTable'
import TransactionsTable from '@/components/tables/TransactionsTable'

export default {
  name: 'AdminDashboard',
  components: { CurrencyPairsTable, TransactionsTable },
  created () {
    this.$store.dispatch('getCurrencyPairs')
    this.$store.dispatch('getAdminTransactions', { limit: 25 })
  },
  computed: {
    ...mapGetters({
      systemState: 'systemState'
    }),
    lastTransactions: {
      get () {
        return this.systemState.transactions.data ? this.systemState.transactions.data.slice(0, 5) : []
      }
    }
  }
}
</script>
