<template lang="pug">
  .profile__content
    .container-fluid
      transactions-table(:isManager="isManager")
</template>

<script>
import TransactionsTable from '@/components/tables/TransactionsTable'

export default {
  name: 'AdminExchanges',
  components: { TransactionsTable },
  data () { return { isManager: true } }
}
</script>
