// colors
$baseGray: #2e2e2c;
$pureWhite: #fff;
$transparentYellow: rgba(249, 163, 0, 0.3);
$transparentGray: rgba(0, 0, 0, 0.1);
$mainYellow: #f9d000;
$secondYellow: #f9c800;
$lightGray: #fefefe;
$grayShadow: rgba(0, 0, 0, 0.04);
$mainGreen: #27cd40;

// fonts
$baseFont: "LatoRegular";
$futuraBold: "FuturaBold";
$latoBold: "LatoBold";

// effects
$baseTransitionSpeed: 0.4s;
$halfOpacity: 0.5;

html {
  height: 100%;
}


body {
  height: 100%;
  font-family: $baseFont;
  color: $baseGray;
  font-size: 20px;
  line-height: 30px;
  overflow-x: hidden;

}


input {
  &[type=number] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

a {
  &:focus, &:hover {
    outline: none !important;
    text-decoration: none;
  }
  -webkit-transition: all $baseTransitionSpeed;
  transition: all $baseTransitionSpeed;
}

button {
  -webkit-transition: all $baseTransitionSpeed;
  transition: all $baseTransitionSpeed;
  outline: none;
  border: none;
  display: inline-block;
}

section {
  padding: 150px 0;
}

.container {
  position: relative;
}

.toast-message {
  font-size: 14px;
  line-height: 22px;
}

.navbar.fixed-top {
  background-color: #fff;
}

/*captions*/

.section_caption {
  font-family: $futuraBold;
  margin: 0 0 20px 0;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:after {
    font-family: "RussoOneRegular";
    font-size: 280px;
    opacity: 0.05;
    color: $baseGray;
    position: absolute;
  }
  + p {
    font-family: $latoBold;
    opacity: $halfOpacity;
    max-width: 630px;
    font-size: 20px;
    line-height: 30px;
  }
}

.h2_caption {
  font-family: $futuraBold;
  font-size: 30px;
  color: $baseGray;
  margin: 0 0 20px 0;
  > label {
    span {
      font-family: "RubikBold";
      font-size: 22px;
      opacity: 0.1;
      text-decoration: underline;
      text-transform: uppercase;
      background-color: transparent;
      cursor: pointer;
    }
    margin-right: 7px;
    input {
      &[selected="selected"] + span {
        opacity: 1;
        text-decoration: none;
      }
      display: none;
    }
  }
}

.no-position {
  position: static;
}

/*forms*/

.form_wrapper {
  max-width: 320px;
  width: 100%;
  height: auto;
}

.form_input {
  background-color: $transparentGray;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  height: 64px;
  line-height: 64px;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  color: $baseGray;
  text-align: center;
  border: 1px solid $transparentGray;
  outline: none;
  &.bg_input {
    background-color: $pureWhite;
  }
  &:focus {
    background-color: transparent;
  }
  &::-webkit-input-placeholder {
    color: $baseGray;
    opacity: $halfOpacity;
  }
  &::-moz-placeholder {
    color: $baseGray;
    opacity: $halfOpacity;
    color: $baseGray;
    opacity: $halfOpacity;
  }
  &:-ms-input-placeholder {
    color: $baseGray;
    opacity: $halfOpacity;
  }
}

.form_button {
  font-family: $baseFont;
  font-size: 20px;
  cursor: pointer;
  color: $pureWhite;
  text-align: center;
  width: 100%;
  border-radius: 44px;
  height: 64px;
  line-height: 64px;
  padding: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from($mainYellow), to($secondYellow));
  background-image: linear-gradient(to left, $mainYellow, $secondYellow);
  -webkit-box-shadow: 0 8px 12px 0 rgba(223, 186, 0, 0.1);
  box-shadow: 0 8px 12px 0 rgba(223, 186, 0, 0.1);
}

/*nav*/

header .navbar.navbar-default {
  background-color: transparent;
  border: none;
  margin: 0;
  border-radius: 0;
  min-height: 50px;
}

/*FOR ANGULAR.JS BOOTSTRAP*/

.horizontal-collapse {
  height: 70px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

/*END ALL STYLE*/

/*CALCULATE*/

.calculate__money {
  background-color: $lightGray;
  padding: 60px 0;
}

.field_give, .field_have {
  font-family: $futuraBold;
  font-size: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
  width: 100%;
  max-width: 290px;
  -webkit-transition: all $baseTransitionSpeed;
  transition: all $baseTransitionSpeed;
}

.field_give.small, .field_have.small {
  font-size: 40px;
}

.header.header_color {
  .field_give, .field_have {
    opacity: 1;
  }
}

.currency {
  &::-webkit-input-placeholder {
    color: $baseGray;
    opacity: 0.1;
  }
  &::-moz-placeholder {
    color: $baseGray;
    opacity: 0.1;
    color: $baseGray;
    opacity: 0.1;
  }
  &:-ms-input-placeholder {
    color: $baseGray;
    opacity: 0.1;
  }
}

.button_currency {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: $pureWhite;
  width: 280px;
  height: 72px;
  line-height: 70px;
  border-radius: 36px;
  -webkit-box-shadow: 0 10px 16px 0 $transparentYellow;
  box-shadow: 0 10px 16px 0 $transparentYellow;
}

.header.header_color .button_currency {
  -webkit-box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.1);
  box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.1);
}

.button_currency > {
  span {
    display: inline-block;
    vertical-align: middle;
  }
  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 34px;
    line-height: 34px;
  }
  span {
    color: #f9b400;
    font-family: "LucidaGrandeBold";
    font-size: 24px;
    line-height: 20px;
    margin: 0 14px 0 0;
  }
}

.header.header_color .button_currency > {
  span, i {
    color: #07a01e;
  }
}

.room__arrow {
  position: absolute;
  width: 120px;
  height: 126px;
  z-index: 10;
}

.calculate__trigger {
  position: absolute;
  width: 120px;
  height: 126px;
  z-index: 10;
  top: 30px;
  left: -107px;
  &:after, &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.room__arrow {
  &:after, &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.calculate__trigger:before, .room__arrow:before {
  width: 100px;
  height: 100px;
  opacity: $halfOpacity;
  border: solid 1px $pureWhite;
}

.calculate__trigger:after, .room__arrow:after {
  width: 120px;
  height: 120px;
  opacity: 0.2;
  border: solid 1px $pureWhite;
}

.calculate__trigger > button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: $pureWhite;
  -webkit-box-shadow: 0 10px 16px 0 $transparentYellow;
  box-shadow: 0 10px 16px 0 $transparentYellow;
}

.room__arrow > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  background-color: transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: $pureWhite;
  -webkit-box-shadow: 0 10px 16px 0 $transparentYellow;
  box-shadow: 0 10px 16px 0 $transparentYellow;
  line-height: normal;
  padding-top: 24px;
  text-align: center;
}

.calculate__trigger > button:hover {
  -webkit-box-shadow: 0 10px 16px 0 rgba(249, 163, 0, 0.6);
  box-shadow: 0 10px 16px 0 rgba(249, 163, 0, 0.6);
}

.header.header_color .calculate__trigger > button, .room__arrow > a {
  -webkit-box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.1);
  box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.1);
}

.header.header_color {
  .calculate__form_box .calculate__trigger > button:hover, .calculate__trigger > button:hover {
    -webkit-box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.3);
    box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.3);
  }
}

.room__arrow > a:hover {
  -webkit-box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.3);
  box-shadow: 0 10px 16px 0 rgba(7, 160, 30, 0.3);
}

.calculate__trigger > button i {
  font-size: 35px;
  line-height: 15px;
  color: #f9b400;
  display: block;
}

.room__arrow > a i {
  font-size: 35px;
}

.header.header_color .calculate__trigger > button i, .room__arrow > a i {
  color: #07a01e;
}

/*END CALCULATE*/

/*==============PROFILE================*/

.profile__wrapper {
  min-height: 100%;
  background-color: #fafafa;
  &.profile__wrapper_bg {
    background-color: $lightGray;
  }
}

.profile__content.profile__money {
  background-color: #fafafa;
}

.header__menu {
  padding-top: 72px;
  background-color: $pureWhite;
  .navbar.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    font-family: $baseFont;
    color: #4c4c4c;
    letter-spacing: 0.9px;
    font-size: 14px;
    text-transform: uppercase;
  }
  .navbar.navbar-default .navbar-brand {
    font-size: 16px;
    opacity: 0.7;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar.navbar-default .navbar-brand:hover {
    color: #3ec234;
  }
}

.logout img, .header__menu .navbar-default .navbar-nav > li > a {
  display: inline-block;
  vertical-align: middle;
}

.header__menu .navbar-default .navbar-nav > li > a {
  margin-left: 20px;
}

.logout img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile__content {
  padding: 40px 0;
  .form_wrapper {
    margin: 0 0 50px 0;
  }
  .form_input {
    text-align: left;
    padding: 0 0 0 16px;
  }
  h3 {
    text-transform: uppercase;
    margin: 0 0 20px 0;
    font-family: $latoBold;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: middle;
  }
}

.profile__money .form_input {
  text-align: left;
  background-color: $pureWhite;
}

.calculate__form_box .button_currency {
  position: static;
  -webkit-box-shadow: 0 8px 24px 0 $transparentGray;
  box-shadow: 0 8px 24px 0 $transparentGray;
}

.profile__content .calculate__form_box .button_currency:hover {
  -webkit-box-shadow: 0 10px 16px 0 $transparentYellow;
  box-shadow: 0 10px 16px 0 $transparentYellow;
}

.filter_table {
  position: absolute;
  right: 15px;
  left: auto;
  top: -5px;
  z-index: 10;
  cursor: pointer;
}

.remark_t {
  color: #19a2fa;
  font-size: 16px;
}

.table > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: none;
  }
  thead > tr > th, tbody > tr > th, tfoot > tr > th {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    line-height: 17px;
    background-color: #fefefe;
  }
  tbody > tr > td {
    font-size: 18px;
    &:nth-child(2), &:nth-child(3), &:nth-child(5) {
      opacity: $halfOpacity;
    }
  }
}

.table-striped > tbody > tr {
  &:nth-of-type(odd) {
    background-color:#fafafa;;
  }
  &:nth-of-type(even) {
    background-color: #fefefe;
  }
}

.response_danger {
  color: #ff5752;
}

.response_success {
  color: #3ec234;
}

.response_progress {
  color: rgba(0, 0, 0, 0.4);
}

.operation_pagination.pagination > {
  li > {
    a, span {
      padding: 12px 20px;
      font-family: $latoBold;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.2);
      margin-right: 4px;
      background-color: #f3f3f3;
      border: none;
      margin-bottom: 10px;
    }
  }
  .disabled > {
    span {
      background-color: $lightGray;
      opacity: 1;
      -webkit-box-shadow: 0 8px 24px 0 $grayShadow;
      box-shadow: 0 8px 24px 0 $grayShadow;
      &:hover, &:focus {
        background-color: $lightGray;
        opacity: 1;
        -webkit-box-shadow: 0 8px 24px 0 $grayShadow;
        box-shadow: 0 8px 24px 0 $grayShadow;
      }
    }
    a {
      background-color: $lightGray;
      opacity: 1;
      -webkit-box-shadow: 0 8px 24px 0 $grayShadow;
      box-shadow: 0 8px 24px 0 $grayShadow;
      &:hover, &:focus {
        background-color: $lightGray;
        opacity: 1;
        -webkit-box-shadow: 0 8px 24px 0 $grayShadow;
        box-shadow: 0 8px 24px 0 $grayShadow;
      }
    }
  }
}

.profile__box {
  padding: 30px;
  margin: 0 0 95px 0;
  background-color: $lightGray;
  -webkit-box-shadow: 0 8px 24px 0 $grayShadow;
  box-shadow: 0 8px 24px 0 $grayShadow;
  .profile__purse_currency, .profile__purse_sum {
    font-family: $latoBold;
    color: #000000;
    margin: 0 0 15px 0;
  }
}

.profile__purse_currency {
  font-size: 20px;
}

.profile__purse_sum {
  font-size: 32px;
}

.profile__box_share {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
}

.alert_qestion {
  font-family: $latoBold;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  opacity: 0.3;
  background-color: #c8c8c8;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  margin: 0 0 20px 10px;
  &:hover {
    opacity: 1;
    color: #000;
  }
}

.profile__box_share:last-child {
  margin-right: -4px;
}

.profile__box_share_links {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.profile__box_share_item {
  display: inline-block;
  vertical-align: middle;
  height: 35px;
  line-height: 35px;
  padding: 0 17px;
  color: $pureWhite;
  font-size: 16px;
  border-radius: 4px;
  &.git {
    background-color: #4d2e2e;
  }
  &.pin {
    background-color: #701010;
  }
  &.google {
    background-color: #cf3d15;
  }
  &.twit {
    background-color: #0d9fbf;
  }
  &.in {
    background-color: #064ea1;
  }
  &.fc {
    background-color: #123c6b;
  }
  &.ml {
    background-color: #0a75f0;
  }
  &.copy {
    background-color: #1d98f0;
  }
}

/*==============END PROFILE================*/

/*==============ROOM PAGE================*/
/*signin register view*/

.room__wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  padding: 50px 0 0 0;
}

.room__wrapper__bg:before {
  position: absolute;
  content: '';
  left: 0;
  width: 250px;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $mainGreen;
}

.room__wrapper {
  &:after {
    position: absolute;
    content: '';
    left: 0;
    width: 250px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $mainGreen;
  }
  &:before {
    position: absolute;
    content: '';
    left: 0;
    width: 250px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $mainGreen;
    left: -311px;
    width: 600px;
    -webkit-transform: skew(-20deg);
    transform: skew(-4deg);
  }
}

.room {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
}

.room__wrapper_caption {
  font-family: $latoBold;
  font-size: 48px;
  margin: 0 0 40px 0;
}

.room__form {
  max-width: 320px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.has-error.form_input {
  border-color: red;
}

.room__wrapper_content {
  .form_input, .form_button {
    display: block;
  }
  .form_input {
    text-align: left;
    font-size: 20px;
    padding: 0 0 0 16px;
  }
}

.form_button.color_green {
  background-image: -webkit-gradient(linear, right top, left top, from(#40c234), to(#22be39));
  background-image: linear-gradient(to left, #40c234, #22be39);
  opacity: $halfOpacity;
  &:hover {
    opacity: 1;
  }
}

.room__wrapper_form_message {
  p, a {
    font-family: $baseFont;
    opacity: $halfOpacity;
    font-size: 16px;
    line-height: 18px;
    margin: 25px 0 10% 0;
    color: $baseGray;
    display: block;
  }
}

.number__card + p, .text-caption_remark {
  font-family: $baseFont;
  opacity: $halfOpacity;
  font-size: 16px;
  line-height: 18px;
  margin: 25px 0 10% 0;
  color: $baseGray;
  display: block;
}

.room__wrapper_link {
  font-family: $latoBold;
  font-size: 30px;
  color: #3ec234;
  overflow: hidden;
  &:hover {
    opacity: 0.8;
    color: #3ec234;
  }
}

.room__wrapper_link_box {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
}

.room__arrow {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 50%;
  left: 220px;
  z-index: 100;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*check view*/

.room__wrapper__bg {
  background-color: $mainGreen;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 110px;
  &:before {
    left: -60px;
    width: 600px;
    -webkit-transform: skew(-20deg);
    transform: skew(-4deg);
  }
}

.room__wrapper_content_check {
  max-width: 555px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.check_img {
  text-align: center;
  margin: 0 0 30px 0;
  img {
    max-width: 120px;
    width: 100%;
    height: auto;
  }
}

.room__wrapper_content_check {
  .room__wrapper_form_message {
    p {
      font-size: 20px;
      line-height: 30px;
    }
    a {
      font-size: 20px;
      line-height: 30px;
      display: inline-block;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .form_button {
    max-width: 300px;
    display: inline-block;
    &:hover {
      color: $pureWhite;
    }
  }
}

/*claim*/

.room_claim {
  .room__form {
    max-width: 450px;
  }
  .room__arrow {
    -webkit-transform: translate(0);
    transform: translate(0);
    top: auto;
    left: 455px;
    right: auto;
  }
}

.room__form button {
  max-width: 300px;
}

.text-caption_remark {
  font-size: 24px;
}

.card___box {
  padding: 10px 0 20px;
}

.room__form .text-caption_remark {
  margin: 10px 0 15px;
}

.card___box p > span {
  font-family: $latoBold;
  font-size: 32px;
  margin-right: 4px;
}

.number__card {
  margin: 0;
  > {
    span, img {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      max-height: 30px;
      overflow: hidden;
      width: 87%;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &.active {
        max-height: 1000px;
      }
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  + p {
    margin: 0;
  }
}

.room_claim .room_aside {
  padding: 0 0 0 120px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  left: 0;
  right: 0;
  width: 455px;
}

.room_aside_info {
  margin-bottom: 200px;
}

.room_aside_info_text {
  font-family: $futuraBold;
  opacity: $halfOpacity;
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 40px 0;
}

.room_aside_info_summ {
  margin: 0 0 40px 0;
  span {
    font-family: $futuraBold;
    &:first-child {
      font-size: 60px;
    }
    &:last-child {
      font-size: 32px;
    }
  }
}

.room_claim .header-service {
  position: relative;
  right: 0;
}

.header_color .header-service .header-service_mail_cap, .room_aside .header-service .header-service_mail_cap {
  color: #ffe431;
  + a {
    color: #ffe431;
  }
}

/*==============END ROOM PAGE============*/

/*==============LANDING============*/
/*HEADER*/

.header {
  min-height: 100%;
  position: relative;
  padding: 19px 0 370px 0;
  &:before, &:after {
    position: absolute;
    content: '';
    right: 0;
    width: 870px;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $mainYellow;
    z-index: 0;
  }
  &.header_color {
    &:before, &:after {
      background-color: $mainGreen;
    }
  }
  &:before {
    left: -80px;
    width: 400px;
    -webkit-transform: skew(-20deg);
    transform: skew(-4deg);
  }
  .container {
    z-index: 10;
  }
}

.header__form_field {
  min-height: 112px;
  margin: 0 0 15px 0;
}

.header__form_field_wrapper {
  width: 320px;
  height: 112px;
  position: relative;
  margin-top: -20px;
}

.button_caption {
  padding-left: 30px;
}

.header__form_field_wrapper {
  > .button_currency {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor:pointer;
    margin: auto;
    background-color: $pureWhite;
    width: 280px;
    height: 72px;
    line-height: 70px;
    border-radius: 36px;
    -webkit-box-shadow: 0 10px 16px 0 $transparentYellow;
    box-shadow: 0 10px 16px 0 $transparentYellow;
  }
  &:after, &:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    margin: auto;
    -webkit-transition: all $baseTransitionSpeed;
    transition: all $baseTransitionSpeed;
  }
  &:hover {
    &:after, &:before {
      opacity: 0.8;
    }
  }
  &:after {
    width: 300px;
    height: 92px;
    opacity: $halfOpacity;
    border-radius: 46px;
    border: solid 1px $pureWhite;
  }
  &:before {
    width: 320px;
    height: 112px;
    opacity: 0.2;
    border-radius: 76px;
    border: solid 1px $pureWhite;
  }
}

.header__form_bank, .header__form_remark {
  padding-top: 40px;
}

.header__form_bank {
  &.visibleCollapse {
    display: block;
  }
  label {
    display: block;
    margin: 0 0 5px 0;
  }
}

.header__form_bank_row {
  max-width: 320px;
  label {
    display: inline-block;
    vertical-align: middle;
  }
  > .cash_summ {
    font-family: $latoBold;
    opacity: $halfOpacity;
    font-size: 12px;
    line-height: 12px;
    width: 47px;
    float: right;
    text-align: right;
    margin: 5px 0 0 0;
  }
}

.header__form_bank {
  label > div {
    position: relative;
    cursor: pointer;
    span, svg {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      margin-right: 10px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-filter: gray;
      filter: gray;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    span:last-child {
      font-family: $baseFont;
      font-size: 16px;
      opacity: 0.6;
    }
  }
  input {
    display: none;
    &:checked + div span:last-child {
      color: $baseGray;
      opacity: 1;
    }

    &[disabled="disabled"] + div {
      span:last-child, img {
        cursor: not-allowed;
      }
    }
  }
  img {
    width: 24px;
  }
  input[selected="selected"] + div img {
    -webkit-filter: none;
    filter: none;
  }
}

.header .calculate__trigger {
  top: 30px;
}

.header__form_bank_collapse {
  height: 60px;
  line-height: 60px;
  border-radius: 6px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  font-family: "RubikBold";
  font-size: 14px;
  color: #82827d;
  background-color: $pureWhite;
  border: 2px solid rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  -webkit-box-shadow: 0 8px 24px 0 $grayShadow;
  box-shadow: 0 8px 24px 0 $grayShadow;
  &:focus, &:active {
    outline: none;
  }
  .caret {
    float: right;
    margin: 25px 7px 0 0;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
}

.header__form_remark {
  max-width: 248px;
  width: 100%;
  font-family: $latoBold;
  font-size: 15px;
  line-height: 1.6;
  opacity: $halfOpacity;
  margin: 0 0 0 60px;
}

/*nav*/

.nav_main {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $baseGray;
  z-index: 12;
}

.controls-fixed {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  bottom: auto;
  position: fixed;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.4);
}

.nav_main {
  &.zIndex {
    z-index: 2;
  }
  .navbar.navbar-default {
    background-color: $baseGray;
    border: none;
    margin: 0;
    border-radius: 0;
  }
  .navbar-default .navbar-nav > li {
    padding: 17px 0 10px;
    margin: 0 30px 0 0;
    &:last-child {
      margin-right: 0;
    }
  }
  .navbar.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a,
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-brand {
    font-family: $baseFont;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
  }
  .navbar.navbar-default .navbar-brand {
    padding-top: 17px;
    &:hover {
      color: $mainYellow;
    }
  }
  .navbar-default .navbar-nav > li > a {
    text-align: center;
    padding: 0;
    &:hover {
      color: $mainYellow;
    }
  }
}

.header-service {
  position: absolute;
  top: auto;
  bottom: 60px;
  right: 15px;
  left: auto;
  padding: 0 40px 0 0;
  text-align: left;
  max-width: 310px;
  z-index: 1;
  i {
    position: absolute;
    top: -71px;
    left: -61px;
    font-size: 200px;
    color: $pureWhite;
    opacity: 0.2;
    z-index: 0;
  }
  h3 {
    font-family: $futuraBold;
    letter-spacing: 1px;
    color: #202020;
    font-size: 24px;
    span {
      font-size: 16px;
      letter-spacing: 0.7px;
    }
  }
  p {
    color: #202020;
    font-size: 16px;
    line-height: 24px;
  }
  .header-service_mail_cap {
    display: block;
    color: #447fb9;
    font-size: 16px;
    font-family: $baseFont;
    + a {
      color: #447fb9;
      font-size: 16px;
      font-family: $baseFont;
    }
  }
}

/*END HEADER*/
/*MEMBERSHIP*/

.membership .section_caption {
  position: relative;
  &:after {
    content: '%';
    top: -100px;
    left: -70px;
  }
}

.membership__item {
  padding: 140px 0;
}

.membership__item_color {
  background-color: #e4ffec;
}

.membership__wrapper {
  text-align: center;
}

.membership__wrapper_img {
  height: 200px;
  margin: 0 0 24px 0;
  position: relative;
}

.commission {
  position: absolute;
}

.commission_1 {
  top: 103px;
  left: 124px;
  font-size: 170px;
  color: #ff5752;
  font-family: $latoBold;
}

.commission_2 {
  font-size: 130px;
  color: $pureWhite;
  font-family: $latoBold;
  top: 97px;
  left: 151px;
}

.membership__wrapper_img img {
  width: auto;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
}

.membership__wrapper_img_text {
  font-family: $futuraBold;
  display: block;
  text-align: center;
  font-size: 20px;
}

.membership__wrapper_ic {
  position: absolute;
}

.membership__wrapper_arrow {
  top: 80px;
  right: -70px;
}

.membership__wrapper_eq {
  top: 95px;
  right: -10px;
}

/*END MEMBERSHIP*/
/*SECTION WORK*/

.work {
  padding-bottom: 240px;
  .section_caption {
    + p {
      margin-right: auto;
      margin-left: auto;
    }
    &:after {
      content: '?';
      left: 0;
      right: 0;
      top: -133px;
      text-align: center;
    }
  }
}

.work__item {
  padding: 90px 0 0 0;
}

.work__item_img {
  height: 161px;
  margin: 0 0 15px 0;
}

.work__item_text {
  font-family: $futuraBold;
  opacity: 0.8;
  font-size: 24px;
  line-height: 24px;
  color: $baseGray;
}

/*END SECTION WORK*/
/*SECTION ADVANTAGES*/

.advantages {
  background-color: $mainYellow;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    background-color: $mainYellow;
    left: 0;
    right: 0;
    width: 100%;
    top: -85px;
    bottom: auto;
    height: 600px;
    -webkit-transform: skewY(175deg);
    transform: skewY(175deg);
  }
  .section_caption {
    font-family: "RubikBold";
    margin-bottom: 60px;
    &:after {
      content: '!';
      left: 0;
      right: 0;
      top: -164px;
      text-align: center;
    }
  }
}

.advantages__item {
  position: relative;
  padding: 50px 0 0 50px;
  margin-top: 90px;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    font-size: 400px;
    line-height: 210px;
    opacity: 0.2;
    font-family: "RubikRegular";
    letter-spacing: 16px;
    color: $pureWhite;
    z-index: 0;
  }
}

.advantages__item_1:after {
  content: '4';
}

.advantages__item_2:after {
  content: '1';
}

.advantages__item_3:after {
  content: '?';
  left: 60px;
}

.advantages__item_caption {
  position: relative;
  z-index: 10;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
  &:after {
    display: none;
  }
  + p {
    position: relative;
    z-index: 10;
    font-size: 24px;
    line-height: 1.5;
  }
}

/*END SECTION ADVANTAGES*/
/*CONTACT*/

.contact_wrapper h3, .contact__form {
  position: relative;
  z-index: 10;
}

.contact_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  z-index: 0;
  img {
    max-width: 800px;
    width: 100%;
    height: auto;
  }
}

.contact__form {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.table > tbody > tr > th:hover {
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
}

/* Absolute Center Spinner */

.loading {
  display: none;
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    &:after {
      content: '';
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: -0.5em;
      -webkit-animation: spinner 1500ms infinite linear;
      animation: spinner 1500ms infinite linear;
      border-radius: 0.5em;
      -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
      box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    }
  }
  &.visible {
    display: block;
  }
}

/* Transparent Overlay */

/* :not(:required) hides these rules from IE9 and below */

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*END CONTACT*/
/*==============END LANDING============*/

/*==============NEW STYLE============*/
.h-100 {
  height: 100%;
}

.h2_caption {
  >span {
    margin-right: 5px;
  }
}

.calculate__form_field {
  >div {
    line-height: 18px;
    color: #ff0000;
    font-size: 14px;
  }
}

.navbar-cab {
  .nav-item {
    margin-right: 15px;
  }
}

.link_go {
  cursor: pointer;
  margin-top: 20px;
}

.table th, 
.table td {
  font-size: 16px;
  padding: 4px;
}

.message_box {
  padding: 10px 0;
}

.dashboard__row {
  padding: 20px 0;
}

.operation_pagination.pagination {
  padding-top: 20px;
}

.navbar-right {
  li {
    display: inline-block;
    vertical-align: middle;
    img {
      max-width: 50px;
      width: 100%;
      height: auto;
    }
  }
}

.table  {
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.04);
  thead {
    th {
      font-family: "LatoRegular";
      font-size: 14px;
      color:rgba(0, 0, 0, 0.4);
      background-color: #fefefe;
      border:none;
    }
  }
  tbody {
    .btn.btn-link {
      font-size: 18px;
      color: #000;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: rgba(0, 0, 0, 0.5);
      font-size: 14px;
      text-transform: uppercase;
      color: #4c4c4c;
      &:hover {
        color: #3ec234;
      }
    }
    .nav-item {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.navbar-light  {
  .nav-bar-no-margin.navbar-nav {
    .nav-item {
      margin: 0;
    }
  }
}

.tooltips_custom {
  padding: 5px 3px;
  border-radius: 6px;
  color:#ff000;
  background-color: #fff;
  text-align: center;
  font-size: 11px;
  line-height: 13px;
  position: absolute;
  top: 35px;
  max-width: 190px;
  width: 100%;
  &:after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
}

/*==============END NEW STYLE============*/
