/*FUTURA FONT*/
@font-face {
  font-family: "FuturaRegular";
  src: url("/static/fonts/FuturaRegular/FuturaRegular.eot");
  src: url("/static/fonts/FuturaRegular/FuturaRegular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/FuturaRegular/FuturaRegular.woff") format("woff"), url("/static/fonts/FuturaRegular/FuturaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "FuturaBold";
  src: url("/static/fonts/FuturaBold/FuturaBold.eot");
  src: url("/static/fonts/FuturaBold/FuturaBold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/FuturaBold/FuturaBold.woff") format("woff"), url("/static/fonts/FuturaBold/FuturaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/*LATO FONT*/
@font-face {
  font-family: "LatoRegular";
  src: url("/static/fonts/LatoRegular/LatoRegular.eot");
  src: url("/static/fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/LatoRegular/LatoRegular.woff") format("woff"), url("/static/fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "LatoBold";
  src: url("/static/fonts/LatoBold/LatoBold.eot");
  src: url("/static/fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/LatoBold/LatoBold.woff") format("woff"), url("/static/fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/*LUCIDAGRANDE FONT*/
@font-face {
  font-family: "LucidaGrandeBold";
  src: url("/static/fonts/LucidaGrandeBold/LucidaGrandeBold.eot");
  src: url("/static/fonts/LucidaGrandeBold/LucidaGrandeBold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/LucidaGrandeBold/LucidaGrandeBold.woff") format("woff"), url("/static/fonts/LucidaGrandeBold/LucidaGrandeBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/*RUBIK FONT*/
@font-face {
  font-family: "RubikBold";
  src: url("/static/fonts/RubikBold/RubikBold.eot");
  src: url("/static/fonts/RubikBold/RubikBold.eot?#iefix") format("embedded-opentype"), url("/static/fonts/RubikBold/RubikBold.woff") format("woff"), url("/static/fonts/RubikBold/RubikBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "RubikRegular";
  src: url("/static/fonts/RubikRegular/RubikRegular.eot");
  src: url("/static/fonts/RubikRegular/RubikRegular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/RubikRegular/RubikRegular.woff") format("woff"), url("/static/fonts/RubikRegular/RubikRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/*RUSSO FONT*/
@font-face {
  font-family: "RussoOneRegular";
  src: url("/static/fonts/RussoOneRegular/RussoOneRegular.eot");
  src: url("/static/fonts/RussoOneRegular/RussoOneRegular.eot?#iefix") format("embedded-opentype"), url("/static/fonts/RussoOneRegular/RussoOneRegular.woff") format("woff"), url("/static/fonts/RussoOneRegular/RussoOneRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
