/*==========  Desktop First Method  ==========*/
@media only screen and (min-width: 1200px) {
  .room_claim .room_aside {
    width: 360px;
  }
  .room__wrapper.room_claim {
    &:before {
      left: -110px;
    }
    &:after {
      width: 360px;
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
  .nav_inside {
    .collapse.show {
        display: block;
        z-index: 10000;
        background-color: #fff;
    }
  }

  .navbar-brand {
    margin: 0;
  }

  .navbar-right {
    li {
      img {
        display: none;
      }
    }
  }

  .navbar-nav.navbar-right {
    -webkit-box-align: left !important;
        -ms-flex-align: left !important;
            align-items: left !important;
  }
  .room__arrow {
    left: 135px;
  }

  .room_claim .room__arrow {
    left: 373px;
  }
  .room__wrapper {
    &:before {
      left: -390px;
    }
    &:after {
      display: none;
    }
  }
  .h2_caption {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .profile__purse_sum {
    font-size: 24px;
  }
  .profile__box_share {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .header:after {
    width: 684px;
  }
  .header-service {
    padding: 0 0 0 20px;
  }
  .room_claim .header-service {
    padding: 0;
  }
  .h2_caption > label span {
    font-size: 19px;
  }
  .commission_1 {
    left: 94px;
  }
  .commission_2 {
    left: 120px;
  }
  .advantages__item_caption + p br {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {

  .calculate__form_field {
    position: relative;
  }
  .tooltips_custom {
    top: -33px;
    left: 50%;
    margin-left: -95px;
}
  .membership__wrapper_ic {
    position: static;
    text-align: center;
    padding: 40px 0;
  }
  .membership__wrapper_arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .section_caption {
    text-align: center;
    max-width: 100%;
    + p {
      text-align: center;
      max-width: 100%;
    }
  }
  section .container h3.section_caption:after {
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .advantages__item {
    &:after {
      display: none;
    }
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .logout img {
    display: none;
  }
  .calculate__form_box {
    text-align: center;
    margin-bottom: 30px;
  }
  .calculate__form_field {
    max-width: 320px;
    margin: 0 auto 20px;
    input {
      text-align: center;
    }
  }
  .calculate__trigger {
    text-align: center;
  }
  .header .calculate__trigger {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0 auto 20px;
  }
  .table > tbody > tr > td {
    font-size: 14px;
  }
  .profile__box_share_item {
    margin-bottom: 10px;
  }
  section {
    padding: 60px 0;
  }
  .header {
    &:after, &:before {
      display: none;
    }
  }
  .h2_caption {
    font-size: 40px;
    text-transform: uppercase;
    > label span {
      font-size: 42px;
    }
  }
  .field_give, .field_have {
    max-width: 100%;
  }
  .header__bg_wrapper .calculate__trigger {
    position: static;
  }
  .header__form_field_wrapper {
    margin: 0 auto;
  }
  .button_caption {
    padding: 0;
  }
  .header__form_bank {
    label {
      margin-bottom: 10px;
    }
    background-color: #fff;
    width: 100%;
    max-width: 320px;
    padding: 10px;
    text-align: left;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: -5px auto;
    -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3);
  }
  .header__form_bank_give {
    z-index: 600;
  }
  .header__form_bank .header__form_bank_row label > div span {
    opacity: 0.6;
  }
  .nav_main .navbar-default .navbar-nav > li {
    margin: 0;
    padding: 0;
    a {
      text-align: left;
      padding: 15px;
      br {
        display: none;
      }
    }
  }
  .header-service, .header__form_remark {
    margin-right: auto;
    margin-left: auto;
  }
  .header-service {
    position: relative;
    top: auto;
    left: auto;
    padding-top: 50px;
  }
  .header__bg {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    &:after {
      content: '';
      position: absolute;
      background-color: #f9d000;
      height: 1800px;
      bottom: 0;
      top: auto;
      right: -30px;
      width: 450px;
      left: auto;
      z-index: -1;
      -webkit-transform: skew(-19deg);
      transform: skew(-19deg);
    }
  }
  .header.header_color .header__bg:after {
    background-color: #27cd40;
  }
  .section_caption {
    font-size: 30px;
  }
  .room__wrapper_caption {
    font-size: 35px;
  }
  .room_claim .header-service p {
    font-size: 12px;
  }
  .membership__wrapper_img {
    max-width: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .membership__wrapper_img.membership__wrapper_img_full {
    max-width: 100%;
  }
  
  .commission_1 {
    left: 102px;
  }
  .commission_2 {
    left: 123px;
    top: 100px;
  }
  .header {
    padding: 19px 0 20px 0;
  }
  .room {
    padding: 100px 0 0 0;
    position: relative;
    top: auto;
    bottom: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .room__wrapper_link_box {
    position: relative;
    bottom: 0;
    padding-bottom: 10px;
  }
  .room__wrapper_link {
    color: #2e2e2c;
  }

  .room_claim {
    .room_aside {
      position: static;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      margin-bottom: 60px;
      padding: 0;
    }

    .room {
      padding: 0 0 40px 0;
    }
  }
  .room_aside_info {
    margin-bottom: 130px;
  }

  .room_claim {
    .room__arrow {
      top: -110px;
    }
  }

  .room_claim  {
    .room__form {
      margin: 0 auto;
    }

    .room__wrapper_form {
      text-align: center;
    }
  }
  
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .room__arrow {
    top: -14px;
    left: -11px;
    top: -25px;
    left: 129px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .room__wrapper_form_message {
    p, a {
      opacity: 1;
    }
  }
  .room__wrapper_content {
    text-align: center;
  }
  .room__form {
    margin: 0 auto;
  }
  .room__wrapper_link_box {
    text-align: center;
  }
  .h2_caption > label span, .field_give, .field_have {
    opacity: 0.5;
  }
  .calculate__form_box .button_currency {
    -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
  }
  .filter_table {
    position: static;
    float: right;
    margin-top: -8px;
  }
  .profile__box_purse .profile__box {
    max-width: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .profile__content h3 {
    font-size: 18px;
  }
  .room_check.room__wrapper:before {
    left: -533px;
  }
  .room__wrapper__bg {
    width: 8px;
  }
  .contact_img {
    display: none;
  }
  .membership__item {
    padding: 40px 0;
  }
  section {
    padding: 20px 0;
  }
  .room_claim .room_aside {
    position: relative;
    width: 100%;
    top: auto;
    left: 0;
    right: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  .room_aside_info {
    > p {
      text-align: center;
    }
    margin-bottom: 100px;
  }
  .room_claim {
    .header-service {
      width: auto;
      text-align: center;
    }
    .room__arrow {
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .room {
      padding-top: 140px;
    }
    .form_button.color_green {
      margin: 0 auto 40px;
    }
  }
  .membership__wrapper_img {
    height: auto;
    overflow: hidden;
    img {
      max-width: 300px;
      width: 100%;
      height: auto;
    }
  }
  .header__form_field_wrapper {
    max-width: 300px;
  }
  .room__wrapper_caption {
    text-align: center;
  }
  .commission_2 {
    top: 120px;
  }

  .table th, 
  .table td {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    padding: 5px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .h2_caption {
    font-size: 30px;
    > {
      span {
        display: block;
        margin-bottom: 10px;
      }
      label span {
        font-size: 30px;
      }
    }
  }
  .header__form_field_wrapper {
    position: relative;
  }
  .room__wrapper_content .form_input {
    font-size: 12px;
  }
  .room__wrapper:before {
    -webkit-transform: skew(-42deg);
    transform: skew(-42deg);
  }
  .profile__content h3 {
    display: block;
  }
  .filter_table {
    float: left;
  }
  .room_check .room__wrapper__bg {
    display: none;
  }
  .alert_qestion {
    float: right;
    margin-top: -44px;
  }
  .commission_1 {
    left: 100px;
    font-size: 140px;
  }
  .commission_2 {
    left: 121px;
    top: 113px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .room__wrapper {
    padding: 0;
    &:before {
      left: -582px;
    }
  }
  .room__wrapper_caption {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .room__wrapper_link {
    font-size: 24px;
  }
  .form_input, .form_button {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    max-width: 300px;
  }
  .room__wrapper_form_remark {
    font-size: 13px;
    text-align: center;
    margin: 10px 0;
  }
  .room__arrow {
    top: -14px;
    left: -11px;
  }
  .header__form_bank {
    max-width: 290px;
    width: 100%;
  }
  .commission_2 {
    left: 120px;
    top: 106px;
  }
}

/*==========  Mobile First Method  ==========*/

