<template lang="pug">
  b-modal(:id="modalId" size="lg", centered)
    p {{ modalComponent }}
</template>

<script>
export default {
  props: {
    modalId: {
      type: String,
      default: ''
    },
    modalComponent: {
      type: Object,
      default: () => {}
    },
    modalData: {
      type: Object,
      default: () => {}
    }
  },
  name: 'BaseModal'
}
</script>
