<template lang="pug">
  div
    .row
      .col-md-12
        h3 Все валютные пары
        b-button.filter_table.remark_t(variant='link', @click="addCurrenciesPair()") Добавить
    .row
      .col-md-12
        .profile__table
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th() Базовая и котируемая валюты
                  th() Курс
                  th() Последнее обновление (в минутах)
              tbody
                template(v-for="pair in systemState.currencyPairs")
                  tr(v-if="pair.base !== pair.quote")
                    td
                      b-button(variant="link", @click="showObjectDetail(pair)") {{ pair.base }} → {{ pair.quote }}
                    td
                      span {{ pair.rate }}
                    td
                      span {{ pair.updated }}
    base-modal(:modalId="modalId", :modalComponent="modalComponent", :modalData="modalData")
</template>

<script>
import BaseModal from '@/components/modals/BaseModal'
import { mapGetters } from 'vuex'

export default {
  name: 'CurrencyPairsTable',
  components: { BaseModal },
  methods: {
    addCurrenciesPair () {
      this.modalComponent = {}
      this.$root.$emit('bv::show::modal', this.modalId)
    },
    showObjectDetail (obj) {
      this.modalComponent = {}
      this.$root.$emit('bv::show::modal', this.modalId)
    }
  },
  created () {
    this.$store.dispatch('getCurrencyPairs')
  },
  computed: {
    ...mapGetters({
      systemState: 'systemState'
    })
  },
  data () {
    return {
      modalId: 'curenciesPair',
      modalComponent: {},
      modalData: {}
    }
  }
}
</script>
