<template lang="pug">
  div
    .row
      .col-md-12
        h3 Все валюты
        b-button.filter_table.remark_t(variant='link', @click="addCurrency()") Добавить
    .row
      .col-md-12
        .profile__table
          .table-responsive
            table.table.table-striped
              thead
                tr
                  th() Название
                  th() Код
                  th() Тип
                  th() Округление до
                  th() Дата создания
                  th() Дата обновления
              tbody
                template(v-for="currency in systemState.currencies")
                  tr()
                    td
                      b-button(variant="link", @click="showObjectDetail(currency)") {{ currency.name }}
                    td
                      span {{ currency.code }}
                    td
                      span {{ currency.type }}
                    td
                      span {{ currency.round_to }}
                    td
                      span {{ currency.created_at | dateTime }}
                    td
                      span {{ currency.updated_at | dateTime }}
    base-modal(:modalId="modalId", :modalComponent="modalComponent", :modalData="modalData")
</template>

<script>
import BaseModal from '@/components/modals/BaseModal'
import moment from 'moment'
import { mapGetters } from 'vuex'

moment.locale('ru')

export default {
  name: 'CurrencyTable',
  components: { BaseModal },
  data () {
    return {
      modalId: 'currency',
      modalComponent: {},
      modalData: {}
    }
  },
  created () {
    this.$store.dispatch('getCurrencies')
  },
  methods: {
    addCurrency () {
      this.modalComponent = {}
      this.$root.$emit('bv::show::modal', this.modalId)
    },
    showObjectDetail (obj) {
      this.modalComponent = {}
      this.$root.$emit('bv::show::modal', this.modalId)
    }
  },
  computed: {
    ...mapGetters({
      systemState: 'systemState'
    })
  },
  filters: {
    dateTime: (value) => {
      return value ? moment.unix(value).format('DD.MM.YYYY, H:mm') : ''
    }
  }
}
</script>
