<template lang="pug">
  table.table.table-striped
    thead
      tr
        th() Направление
        th() Значение в %
        th() Минимум/максимум
        th() Дата создания
    tbody
      template(v-for="fee in items")
        tr()
          td
            b-button(variant="link", @click="showObjectDetail(fee)") {{ fee.incoming_payment_system }} → {{ fee.outgoing_payment_system }}
          td
            span {{ fee.percentage }}
          td
            span {{ fee.min }} / {{ fee.max }}
          td
            span {{ fee.created_at | dateTime }}
</template>

<script>
import moment from 'moment'

moment.locale('ru')

export default {
  name: 'FeesTable',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    showObjectDetail (obj) {
      console.log(obj.id)
    }
  },
  filters: {
    dateTime: (value) => {
      return value ? moment.unix(value).format('DD.MM.YYYY, H:mm') : ''
    }
  }
}
</script>
