<template lang="pug">
  table.table.table-striped
    thead
      tr
        th() Название/Код
        th() Активна для входящих/исходящих платежей
        th() Использовать по умолчанию для входящих/исходящих платежей
        th() Лимиты входящих платежей
        th() Лимиты исходящих платежей
        th() Создана
        th() Обновлена
    tbody
      template(v-for="psc in items")
        tr()
          td
            b-button(variant="link", @click="showObjectDetail(psc)")  {{ psc.name }} / {{ psc.code }}
          td
            span {{ psc.is_active_in | trueFalse }} / {{ psc.is_active_out | trueFalse }}
          td
            span {{ psc.limits.in.min }} / {{ psc.limits.in.max }}
          td
            span {{ psc.limits.out.min }} / {{ psc.limits.out.max }}
          td
            span {{ psc.created_at | dateTime }}
          td
            span {{ psc.updated_at | dateTime }}
          td
</template>

<script>
import moment from 'moment'

moment.locale('ru')

export default {
  name: 'PaymentSystemsTable',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    showObjectDetail (obj) {
      console.log(obj.id)
    }
  },
  filters: {
    dateTime: (value) => {
      return value ? moment.unix(value).format('DD.MM.YYYY, H:mm') : ''
    },
    trueFalse: (value) => {
      return value ? 'v' : 'x'
    }
  }
}
</script>
