<template lang="pug">
  table.table.table-striped
    thead
      tr
        th() Имя/Код
        th() Номер по порядку
        th() Активна для входящих/исходящих платежей
        th() Использовать по умолчанию для входящих/исходящих платежей
        th() Провайдер
        th() Создана
        th() Обновлена
    tbody
      template(v-for="ps in items")
        tr()
          td
            b-button(variant="link", @click="showObjectDetail(ps)") {{ ps.name }} / {{ ps.slug }}
          td
            span {{ ps.order }}
          td
            span {{ ps.is_active_in | trueFalse }} / {{ ps.is_active_out | trueFalse }}
          td
            span {{ ps.default_in | trueFalse }} / {{ ps.default_out | trueFalse }}
          td
            span {{ ps._payment_system_provider }}
          td
            span {{ ps.created_at | dateTime }}
          td
            span {{ ps.updated_at | dateTime }}
        tr(v-if="ps.currencies")
          td(colspan="7")
            payment-system-currencies-table(:items="ps.currencies")
</template>

<script>
import moment from 'moment'
import PaymentSystemCurrenciesTable from '@/components/tables/PaymentSystemCurrenciesTable'

moment.locale('ru')

export default {
  name: 'PaymentSystemsTable',
  components: { PaymentSystemCurrenciesTable },
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    showObjectDetail (obj) {
      console.log(obj.id)
    }
  },
  filters: {
    dateTime: (value) => {
      return value ? moment.unix(value).format('DD.MM.YYYY, H:mm') : ''
    },
    trueFalse: (value) => {
      return value ? 'v' : 'x'
    }
  }
}
</script>
