<template lang="pug">
  div
    .dashboard__row(v-if="allTransactions")
      .row
        .col-md-12
          h3 {{ tableTitle }}
          b-button.filter_table.remark_t(v-if="withFilter", variant='link', @click="() => { this.showFilter = !this.showFilter }") Фильтр
          router-link(v-if="!withFilter", :to="'/cabinet/exchanges'").filter_table.remark_t Смотреть все операции
      .row(v-if="showFilter && withFilter")
        .col-md-3
          b-form-group#statusSelector(label="Статус:", label-for="statusSelect")
            b-form-select#statusSelect(v-model="trStatusSelected", :options="trStatuses", required="")
        .col-md-3
          b-form-group#fromDateSelector(label="Начало периода:", label-for="fromDateSelect")
            datepicker#fromDateSelectdatepicker(:language="datepicker.language",
                                                :disabled="datepicker.disabled.from",
                                                monday-first="",
                                                bootstrap-styling="",
                                                full-month-name="",
                                                v-model="selectedDateFrom")
        .col-md-3
          b-form-group#toDateSelector(label="Конец периода:", label-for="toDateSelect")
            datepicker#toDateSelect(:language="datepicker.language",
                                    :disabled="datepicker.disabled.to",
                                    monday-first="",
                                    bootstrap-styling="",
                                    full-month-name="",
                                    v-model="selectedDateTo")
        .col-md-3
          hr
          b-button(variant="primary", @click="sendFiltredRequest()") Применить
          span &nbsp;
          b-button(variant="danger", @click="clearFilter()") Очистить
      .row
        br
      .row
        .col-md-12
          .profile__table
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th() Обмен
                    th() Отдано
                    th() Получено
                    th() Комиссия/бонус
                    th() Дата и время
                    th() Статус
                tbody
                  template(v-for="t in allTransactions")
                    tr()
                      td
                        b-button(variant="link", @click="showObjectDetail(t)") {{ t.incoming_payment.payment_system }} → {{ t.outgoing_payment.payment_system }}
                      td
                        span {{ t.incoming_payment.bill_amount }} {{ t.incoming_payment.currency }}
                      td
                        span {{ t.outgoing_payment.outgoing_received_amount }} {{ t.outgoing_payment.currency }}
                      td
                        span {{ t.fee }}
                      td
                        span {{ t.created_at | dateTime }}
                      td
                        span {{ t.status | trStatus }}
            ul.operation_pagination.pagination
              li(v-show="currentPage !== 1")
                a.link_go(@click="getTransactionsPage((currentPage - 1))") Предыдущая страница
              template(v-for="page in trPages")
                li(v-bind:class="{'disabled': (currentPage === page)}")
                  a.link_go(@click="getTransactionsPage(page)") {{ page}}
              li(v-show="currentPage !== trPages")
                a.link_go(@click="getTransactionsPage((currentPage + 1))") Следующая страница
    div(v-else) Нет новых заявок
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'

moment.locale('ru')

export default {
  name: 'TransactionsTable',
  props: {
    isManager: {
      type: Boolean,
      default: false
    },
    withFilter: {
      type: Boolean,
      default: true
    },
    trLimit: {
      type: Number,
      default: 25
    },
    tableTitle: {
      type: String,
      default: 'Заявки'
    }
  },
  methods: {
    clearFilter () {
      this.selectedDateFrom = null
      this.selectedDateTo = new Date()
      this.trStatusSelected = null
      this.$store.dispatch('getTransactions', {})
    },
    sendFiltredRequest () {
      this.trOffset = 0
      this.$store.dispatch('getTransactions',
        {
          status: this.trStatusSelected,
          toDate: this.selectedDateTo,
          fromDate: this.selectedDateFrom,
          limit: this.trLimit,
          isManager: this.isManager || false,
          offset: this.trOffset
        })
    },
    getTransactionsPage (page) {
      var trStorage = this.isManager ? this.systemState.transactions : this.userData.transactions
      if (this.currentPage < page) {
        this.trOffset += this.trLimit
      } else if (this.currentPage > page) {
        this.trOffset -= this.trLimit
      }
      if ((this.trOffset >= 0) && (this.trOffset < trStorage.paging.total)) {
        this.currentPage = page
        this.$store.dispatch('getTransactions',
          {
            status: this.trStatusSelected,
            toDate: this.selectedDateTo,
            fromDate: this.selectedDateFrom,
            limit: this.trLimit,
            isManager: this.isManager || false,
            offset: this.trOffset
          })
      }
    },
    showObjectDetail (obj) {
      this.currentTransaction = obj
      this.$refs.transactionEdit.show()
    }
  },
  created () {
    this.$store.dispatch('getTransactions', { limit: 25, isManager: this.isManager })
  },
  computed: {
    ...mapGetters({ systemState: 'systemState', userData: 'userData' }),
    allTransactions: {
      get () {
        var trStorage = this.isManager ? this.systemState.transactions : this.userData.transactions
        return trStorage ? trStorage.data : []
      }
    },
    trPages: {
      get () {
        var trStorage = this.isManager ? this.systemState.transactions : this.userData.transactions
        return Math.ceil(trStorage.paging.total / this.trLimit)
      }
    }
  },
  data () {
    return {
      trOffset: 0,
      currentPage: 1,
      showFilter: false,
      trStatusSelected: null,
      selectedDateFrom: null,
      selectedDateTo: new Date(),
      trStatuses: [
        { value: null, text: 'Все' },
        { value: 'processed', text: 'В обработке' },
        { value: 'succeeded', text: 'Успешные' },
        { value: 'failed', text: 'Отмененные' }
      ],
      datepicker: {
        language: 'ru',
        disabled: {
          from: {
            to: this.selectedDateFrom || new Date(2018, 0, 1),
            from: this.selectedDateTo || new Date()
          },
          to: {
            to: this.selectedDateFrom || new Date(2018, 0, 1),
            from: new Date()
          }
        }
      }
    }
  },
  filters: {
    trStatus: (value) => {
      if (value === 'processing') return 'В обработке'
      if (value === 'failed') return 'Отклонена'
      if (value === 'succeeded') return 'Завершена'
    },
    dateTime: (value) => {
      return value ? moment.unix(value).format('DD.MM.YYYY, H:mm') : ''
    }
  }
}
</script>
