<template lang="pug">
  table.table.table-striped
    thead
      tr
        th() Имя
        th() Email
        th() Телефон
        th() Дата регистрации
        th() Дата последней активности
        th() Счета
    tbody
      template(v-for="user in items")
        tr()
          td
            b-button(size="", variant="link", @click="showObjectDetail(user)") {{ user.name || user.email }} {{ user.is_active | trueFalse }}
          td
            span {{ user.email }} {{ user.is_confirmed | trueFalse }}
          td
            span {{ user.phone }}
          td
            span {{ user.created_at | dateTime }}
          td
            span {{ user.updated_at | dateTime }}
          td
            span {{ user.accounts | accounts }}
</template>

<script>
import moment from 'moment'

moment.locale('ru')

export default {
  name: 'UsersTable',
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    showObjectDetail (obj) {
      console.log(obj.id)
    }
  },
  filters: {
    dateTime: (value) => {
      return value ? moment.unix(value).format('DD.MM.YYYY, H:mm') : ''
    },
    accounts: (value) => {
      var accounts = ''
      for (var i = 0; i < value.length; i++) {
        accounts += ((value[i].amount * 1) > 0) ? (value[i].amount + ' ' + value[i].code + ', ') : ''
      }
      return accounts
    },
    trueFalse: (value) => {
      return value ? 'v' : 'x'
    }
  }
}
</script>
