<template lang="pug">
  .profile__content
    .container-fluid
      b-alert(variant="danger", show, dismissible, v-show="!userData.profile.is_confirmed")
        | Проверьте свой почтовый ящик и пройдите по ссылке из письма, чтобы подтвердить свой e-mail-адрес
      .dashboard__row.profile__box_purse(v-if="activeAccounts.length > 0")
        .row
          .col-md-12
            h3 Кошельки
        .row
          template(v-for="a in activeAccounts")
            .col-md-3.col-sm-6
              .profile__box
                p.profile__purse_currency {{ a.name }} , {{ a.code }}
                p.profile__purse_sum {{ a.amount }}
                b-button.remark_t(variant='link') Пополнить
      b-alert(variant="info", show, dismissible, v-else)
        center Ваши кошельки пусты
      transactions-table(:isManager="isManager", :trLimit="trLimit", :withFilter="withFilter", :tableTitle="tableTitle")
</template>

<script>
import { mapGetters } from 'vuex'
import TransactionsTable from '@/components/tables/TransactionsTable'

export default {
  name: 'CabinetDashboard',
  components: { TransactionsTable },
  methods: {
  },
  computed: {
    ...mapGetters({ userData: 'userData' }),
    activeAccounts () {
      let allAccounts = this.userData.profile.accounts
      let activeAccounts = allAccounts ? allAccounts.filter((obj) => { return (obj.amount * 1) > 0 }) : []
      return activeAccounts
    }
  },
  data () {
    return { isManager: false, trLimit: 5, withFilter: false, tableTitle: 'Последние заявки' }
  }
}
</script>
