<template lang="pug">
  .profile__content
    .container-fluid
      .row
        .col-md-12
          h3 Личные данные
          .form_wrapper
            form
              input.form_input.bg_input(type='text', placeholder='Имя', v-model="credentials.name")
              input.form_input.bg_input(type='text', placeholder='Email', v-model="credentials.email")
              input.form_input.bg_input(type='text', placeholder='Телефон', v-model="credentials.phone")
              input.form_input.bg_input(type='password', placeholder='Пароль', v-model="credentials.password")
            button.form_button.color_green(@click="updateProfile(credentials)") Сохранить
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'CabinetSettings',
  computed: {
    ...mapGetters({
      userData: 'userData'
    }),
    credentials: {
      get () {
        let userProfile = Object.assign({}, this.userData.profile)
        return {
          email: userProfile.email,
          name: userProfile.name,
          phone: userProfile.phone,
          password: ''
        }
      }
    }
  },
  methods: {
    ...mapActions(['updateProfile'])
  }
}
</script>
