<template lang="pug">
  form
    .profile__content.profile__money
      .container-fluid
        .row
          .col-md-12
            h3 Введите ID или почту друга
            .form_wrapper
              input.form_input.bg_input(type='email', placeholder='Введите ID или почту друга')
    .calculate__money
      .container
        .row
          .col-md-4
            .calculate__form_box.calculate__form_box_1
              h2.h2_caption
                span Я отдаю
                label(for='rub')
                  input#rub(type='radio', name='currencyGive', value='rub', checked='checked')
                  span(role='radio') RUB
                label(for='usd')
                  input#usd(type='radio', name='currencyGive', value='usd')
                  span(role='radio') USD
                label(for='eur')
                  input#eur(type='radio', name='currencyGive', value='eur')
                  span(role='radio') EUR
              .calculate__form_field
                input.currency.field_give(type='number', step='0.01', name='currencyGive', placeholder='1 000')
          .col-md-4
            .calculate__trigger
              button(type='button')
                i.fa.fa-long-arrow-left(aria-hidden='true')
                i.fa.fa-long-arrow-right(aria-hidden='true')
            .calculate__form_box
              h2.h2_caption
                span  Он получит
                label(for='rubHave')
                  input#rubHave(type='radio', name='currHave', value='rub', checked='checked')
                  span(role='radio') RUB
                label(for='usdHave')
                  input#usdHave(type='radio', name='currHave', value='usd')
                  span(role='radio') USD
                label(for='eurHave')
                  input#eurHave(type='radio', name='currHave', value='eur')
                  span(role='radio') EUR
              .calculate__form_field
                input.currency.field_have(type='number', step='0.01', name='currHave', placeholder='16.35')
          .col-md-4
            .calculate__form_box
              h2.h2_caption Обменять
              .calculate_field
                .calculate__form_field_wrapper
                  button.button_currency(type='button')
                    span Продолжить
                    img(src='/static/img/arrow.png', alt='arrow')
</template>

<script>
export default {
  name: 'CabinetSend',
  data () {
    return { name: 'CabinetSend' }
  }
}
</script>
