<template lang="pug">
  section.advantages
    .container
      .row
        .col-md-12
          h3.section_caption.text-center Наши преимущества
      .row
        .col-lg-4
          .advantages__item.advantages__item_1
            h3.section_caption.advantages__item_caption 4 года
            p
              | работаем на рынке обмена
              br
              |  более 4 лет
        .col-lg-4
          .advantages__item.advantages__item_2
            h3.section_caption.advantages__item_caption №1
            p
              | одни из лучших условий
              br
              |  на выкуп ваших
              br
              |  криптовалют
        .col-lg-4
          .advantages__item.advantages__item_3
            h3.section_caption.advantages__item_caption Вопросы
            p
              | Ответим на любые ваши
              br
              |  вопросы в кратчайший
              br
              |  срок
</template>

<script>
export default {}
</script>
