<template lang="pug">
  section#membership.membership
    .container
      .row
        .col-md-12
          h3.section_caption Тарифы и курсы
          p
            | Мы ценим ваше время и деньги, и поэтому мы не стали делать сложные таблицы с комиссиями и расчетами.
            | У нас все прозрачно и предельно просто, убедитесь в этом сами!
    .membership__item
      .container
        .row
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img.membership__wrapper_img_full
                img(src='/static/img/icon_t_1.png', alt='icon')
              span.membership__wrapper_img_text Банки РФ
            .membership__wrapper_arrow.membership__wrapper_ic
              img(src='/static/img/CombinedShape.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/icon_t_2.png', alt='icon')
              span.membership__wrapper_img_text Криптовалюта
            .membership__wrapper_ic.membership__wrapper_eq
              img(src='/static/img/Group-8.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/icon_t_3.png', alt='icon')
                span.commission.commission_1 2
              span.membership__wrapper_img_text Комиссия 2%
    #sec.membership__item.membership__item_color
      .container
        .row
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/icon_t_2.png', alt='icon')
              span.membership__wrapper_img_text Криптовалюта
            .membership__wrapper_arrow.membership__wrapper_ic
              img(src='/static/img/CombinedShape.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img.membership__wrapper_img_full
                img(src='/static/img/icon_t_1.png', alt='icon')
              span.membership__wrapper_img_text Банки РФ
            .membership__wrapper_ic.membership__wrapper_eq
              img(src='/static/img/Group-8.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/bonus.png', alt='icon')
                span.commission.commission_2 2
              span.membership__wrapper_img_text Бонус 2%
    .membership__item
      .container
        .row
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img.membership__wrapper_img_full
                img(src='/static/img/icon_t_6.png', alt='icon')
              span.membership__wrapper_img_text Наличные
            .membership__wrapper_arrow.membership__wrapper_ic
              img(src='/static/img/CombinedShape.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/icon_t_2.png', alt='icon')
              span.membership__wrapper_img_text Криптовалюта
            .membership__wrapper_ic.membership__wrapper_eq
              img(src='/static/img/Group-8.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/icon_t_3.png', alt='icon')
                span.commission.commission_1 2
              span.membership__wrapper_img_text Комиссия 2%
    .membership__item.membership__item_color
      .container
        .row
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/icon_t_2.png', alt='icon')
              span.membership__wrapper_img_text Криптовалюта
            .membership__wrapper_arrow.membership__wrapper_ic
              img(src='/static/img/CombinedShape.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/icon_t_6.png', alt='icon')
              span.membership__wrapper_img_text Наличные
            .membership__wrapper_ic.membership__wrapper_eq
              img(src='/static/img/Group-8.png', alt='arrow')
          .col-lg-4
            .membership__wrapper
              .membership__wrapper_img
                img(src='/static/img/bonus.png', alt='icon')
                span.commission.commission_2 2
              span.membership__wrapper_img_text Бонус 2%
</template>

<script>
export default {}
</script>
