<template lang="pug">
  section#work.work
    .container
      .row
        .col-md-12
          h3.section_caption.text-center как это работает?
          p.text-center Ничего сложного, всего 3 простых шага!
      .row
        .col-lg-4
          .work__item.text-center
            .work__item_img
              img(src='/static/img/icon_q_1.png', alt='picture')
            p.work__item_text.text-center
              | Выбираете валюту
              br
              |  для обмена
        .col-lg-4
          .work__item.text-center
            .work__item_img
              img(src='/static/img/icon_q_2.png', alt='picture')
            p.work__item_text.text-center
              | Оставляете заявку
              br
              |  на обмен
        .col-lg-4
          .work__item.text-center
            .work__item_img
              img(src='/static/img/icon_q_3.png', alt='picture')
            p.work__item_text.text-center
              | Получаете деньги
              br
              |  в новой валюте
</template>

<script>
export default {}
</script>
