<template lang="pug">
  div
    .header__bg
    exchange-form
    .header-service
      i.fa.fa-btc(aria-hidden='true')
      h3
        | XCHANGE
        span .com
      p
        | Сервис XCHANGE.zone дает
        | возможность быстрого,
        | безопасного и простого обмена
        | электронных валют и вывода денег
        | на банковские карты. Мы
        | поддерживаем для Вас актуальные
        | и вкусные курсы.
</template>

<script>
import ExchangeForm from '@/components/forms/Exchange'

export default {
  name: 'MainBlock',
  components: { ExchangeForm },
  data () {
    return {}
  }
}
</script>
