<template lang="pug">
  #nav_main.nav_main(v-bind:class="[fixedNavBar ? 'controls-fixed' : '']", ref='navMain')
    b-navbar.navbar-dark(toggleable="md")
      .container
        b-navbar-toggle(target="nav_collapse")
        b-navbar-brand(to="/") XCHANGE.zone
        b-collapse#nav_collapse(is-nav="")
          b-navbar-nav.ml-auto
            b-nav-item(href="#header") Обменять
            b-nav-item(href="#membership") Тарифы и курсы
            b-nav-item(href="#work") Как это работает?
            b-nav-item(to="/cabinet") Личный кабинет
</template>

<script>

export default {
  name: 'NavBarLanding',
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  mounted () {
    this.offsetTop = this.$refs.navMain.offsetTop
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll (event) {
      this.fixedNavBar = window.pageYOffset >= this.offsetTop
    }
  },
  data () {
    return {
      fixedNavBar: false,
      offsetTop: 0
    }
  }
}
</script>
