<template lang="pug">
  .room__wrapper_form
    h3.room__wrapper_caption
      | Вход в личный
      br
      |  кабинет
    .room__form
      form(name='form_signin')
        input.form_input(type='text', placeholder='email', name='email', required='required', v-model='credentials.email')
        input.form_input(type='password', placeholder='Пароль', name='password', required='required', v-model='credentials.password')
      button.form_button.color_green(@click='signIn(credentials)', :disalbed="!credentials.email || !credentials.password") Войти
      .room__wrapper_form_message.text-center
        a(href='#') Я забыл пароль :(
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'AuthSignin',
  methods: {
    ...mapActions(['signIn'])
  },
  data () {
    return {
      credentials: {
        email: '',
        password: ''
      }
    }
  }
}
</script>
