<template lang="pug">
  .room__wrapper_form
    h3.room__wrapper_caption
      | Регистрация
      br
      |  в личном кабинете
    .room__form
      form(name='form_signup', novalidate='novalidate')
        input.form_input(type='text', placeholder='Имя', name='name', required='required', v-model="credentials.name")
        input.form_input(type='text', placeholder='email', name='email', required='required', v-model="credentials.email")
        input.form_input(type='password', placeholder='Пароль', name='password', required='required', v-model="credentials.password")
      button.form_button.color_green(@click="register()") Регистрация
      .room__wrapper_form_message
        p Нажимая кнопку «Регистрация», вы соглашаетесь с Пользовательским соглашением
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'AuthSignup',
  computed: {
    ...mapGetters({
      authData: 'authData'
    })
  },
  methods: {
    ...mapActions(['createProfile', 'signUp']),
    register () {
      if (!this.authData.isAuth) {
        this.signUp().then(() => { this.createProfile(this.credentials) })
      } else {
        this.createProfile(this.credentials)
      }
    }
  },
  data () {
    return {
      credentials: {
        email: '',
        password: '',
        name: ''
      }
    }
  }
}
</script>
