<template lang="pug">
.container.no-position
  .row.justify-content-end
    .col-lg-6.col-md-12.no-position
      .room__wrapper_content
        .room__wrapper_form
          h3.room__wrapper_caption
            | Осталось заполнить
            br
            | заявку
          .room__form
            form
              input.form_input(v-if="!userData.profile.name", type='text', placeholder='Имя')
              p(v-else) {{ userData.profile.name }}
              input.form_input(type='number', placeholder='Телефон', v-if="!userData.profile.phone")
              p.text-caption_remark {{ exchangeStatus.incoming.details.description }}
              .card___box
                p.number__card
                  span(role='button') {{ exchangeStatus.incoming.details.data }}
                  img(src='/static/img/ps.png', alt='')
              p.text-caption_remark {{ exchangeStatus.outgoing.details.description }}
              input.form_input(type='text', name='outgoing_details', v-model="outgoingDetails")
            button.form_button.color_green(@click="confirmTransaction(exchangeStatus)") Создать заявку
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'ExchangeConfirm',
  computed: {
    ...mapGetters({
      userData: 'userData',
      authData: 'authData',
      exchangeStatus: 'exchangeStatus'
    }),
    outgoingDetails: {
      get () {
        return ''
      },
      set (value) {
        this.setOutgoingDetails({ details: value })
      }
    }
  },
  created () {
    if (!this.authData.isAuth) {
      this.signUp().then(() => { this.createTransaction(this.exchangeStatus) })
    } else {
      this.createTransaction(this.exchangeStatus)
    }
  },
  methods: {
    ...mapActions(['signUp', 'createTransaction', 'confirmTransaction', 'setOutgoingDetails'])
  },
  data () {
    return {}
  }
}
</script>
