<template lang="pug">
  .room_box
    .container.no-position
      .row
        .col-md-12.no-position
          .room__wrapper_content.room__wrapper_content_check
            .check_img
              img(src='/static/img/check.png', alt='check')
            h3.room__wrapper_caption.text-center
              | Заявка успешно
              br
              |  отправлена
            .room__wrapper_form_message.text-center
              p
                | Отслеживать свои операции вы можеет в личном кабинете. Так же там отображается история обменов
            router-link(:to="'/cabinet'").form_button.color_green Войти в личный кабинет
            .room__wrapper_form_message.text-center
              router-link(:to="'/'") Вернуться на главную страницу
</template>

<script>
export default {}
</script>
