<template lang="pug">
  #app.h-100
    router-view
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="scss">
  $fa-font-path: '../static/font-awesome/fonts/';
  @import '../static/font-awesome/css/font-awesome.min.css';

  @import './scss/style'
</style>
