<template lang="pug">
  div(name="exchange_form", novalidate="novalidate")
    .container
      .row
        .col-lg-4
          select-form(:state="exchangeStatus.incoming")
        .col-lg-4
          .calculate__trigger
            button(@click="changeDirection()")
              i.fa.fa-long-arrow-left(aria-hidden='true')
              i.fa.fa-long-arrow-right(aria-hidden='true')
          select-form(:state="exchangeStatus.outgoing")
        .col-lg-4
          .calculate__form_box
            h2.h2_caption.button_caption Обменять
            .calculate_field
              .calculate__form_field_wrapper
                .header__form_field_wrapper
                  button.button_currency.text-center(@click='startExchange()')
                    span Продолжить
                    img(src='/static/img/arrow.png', alt='arrow')
              p.header__form_remark
                | Хотим обратить ваше внимание,
                | что большинство переводов идут
                | в полуавтоматическом режиме и
                | могут занимать некоторое время
</template>

<script>
import SelectForm from '@/components/forms/SelectForm'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Exchange',
  components: {
    SelectForm
  },
  computed: mapGetters({
    exchangeStatus: 'exchangeStatus',
    authData: 'authData'
  }),
  data () {
    return {}
  },
  methods: {
    ...mapActions(['reverseDirection', 'getQuotes', 'signUp']),
    changeDirection () {
      this.reverseDirection(this.exchangeStatus)
      this.getQuotes(this.exchangeStatus)
    },
    startExchange () {
      if (this.exchangeStatus.isValid) {
        this.$router.push('/exchange/confirm')
      }
    }
  }
}
</script>
