<template lang="pug">
  .calculate__form_box
    h2.h2_caption
      span Я отдаю
      template(v-for="cur in state.paymentSystem.currencies")
        label
          input(type="radio", :selected="state.currency.id == cur.id", name="incoming_currency", :id="cur.code", :value="cur.code")
          span(role="radio", @click="changeCurrency(cur.id)") {{ cur.code }}
    .calculate__form_field
      input.currency.field_give(
        type="number",
        :min="0",
        :step="'0.' + '0'.repeat(state.currency.round_to - 1) + '1'",
        v-model.lazy="amount",
        name="amount"
      )
      div(v-if="errors")
        div(v-if="state.way === 'in' && errors.errors.incoming_payed_amount")
          p.tooltips_custom
            | Сумма входящего платежа должна быть не меньше {{ state.currency.limits.in.min }} {{ state.currency.code }}
            template(v-if="state.currency.limits.in.max > 0")
              | и не больше {{ state.currency.limits.in.max }} {{ state.currency.code }}
        div(v-if="state.way === 'out' && errors.errors.outgoing_received_amount")
          p.tooltips_custom
            | Сумма к получению должна быть не меньше {{ state.currency.limits.out.min }} {{ state.currency.code }}
            template(v-if="state.currency.limits.out.max > 0")
              | и не больше {{ state.currency.limits.out.max }} {{ state.currency.code }}
    .header__form_bank.header__form_bank_give
      template(v-for="ps in paymentSystems")
        label(@click="changePaymentSystem(ps.id)")
          input(type="radio", :selected="state.paymentSystem.id == ps.id", name="incoming_payment_system", :id="ps.name", :value="ps.name")
          div(role="radio")
            img(:src="'/static/img/' + ps.slug + '.png'", :alt="ps.name")
            span {{ ps.name }}
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import roundTo from 'round-to'

export default {
  name: 'MainBlock',
  props: {
    state: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    ...mapGetters({
      paymentSystems: 'paymentSystems',
      exchangeStatus: 'exchangeStatus',
      errors: 'errors'
    }),
    amount: {
      get () {
        return this.state.amount
      },
      set (value) {
        value = roundTo(value * 1, this.state.currency.round_to * 1)
        this.changeAmount({ value: value, direction: this.state })
        this.getQuotes(this.exchangeStatus)
      }
    }
  },
  methods: {
    ...mapActions(['selectCurrency', 'selectPaymentSystem', 'changeAmount', 'getQuotes']),
    changeCurrency (id) {
      this.selectCurrency({ id: id, state: this.state })
      this.getQuotes(this.exchangeStatus)
    },
    changePaymentSystem (id) {
      this.selectPaymentSystem({ id: id, state: this.state })
      this.getQuotes(this.exchangeStatus)
    }
  }
}
</script>
